body{
    background-color: #f5f5f5;
    flex-direction: row;

}
.cards {
    display: flex;
     flex-direction: row;
    
 }
header{
    background-color:  #011e29;
    color: white;
    text-align: center;
    height: 40px;
}
section.latest-news-section{
    background-color: white;
    width: fit-content;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
section.hero-section{
    background-color: white;
    width: 30%;
    height: 150px;
    border-radius: 10px;
    margin:10px;
    text-align: center;
}
section.pictorial-news-section{
    background-color: white;
    width: 20%;
    height: 50%;
    border-radius: 10px;
    padding: 40px;
    margin:10px;
    text-align: center;
}